@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root{
    background-color: #1F1B2E;
    color: #1F1B2E;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

.homebutton{
    color: grey;
    margin-top: 40px;
    margin-bottom: 30px;
}


.navbar{
    display: flex;
    justify-content: center;
    width: min-content;
    padding-bottom: 5px;
    height: 1000px;
}

.centerPB{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.mycontainer{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
    padding: 10px 0;
}

input{
    border: none;
    padding: 2px;
    border-radius: 4px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

select{
    border: none;
    padding: 2px;
    border-radius: 4px;
    background-color: #495FC3;
    color: black;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.myitems{
    background-color: #495FC3;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    min-width: 10px;
    border: 1px #1F1B2E solid;
    border-radius: 20px;
}

.item{
    display: flex;
    justify-content: center;
    width: 150px;
    border-right: 1px #1F1B2E solid;
    text-align: center;
    align-items: center;
}

.itemNB{
    display: flex;
    justify-content: center;
    min-width: 150px;
    text-align: center;
    align-items: center;
}

.outerform{
    background-color: #534A75;
    border-radius: 10px;
    min-width: 552px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 4px;
    min-height: 100px;
}

.innderform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    gap: 5px;
}
